<h1>Detalhes do Pedido</h1>

<h2><%= Order.model_name.human %> <%= @order.code %></h2>

<div>
  <%= link_to 'Editar', edit_order_path(@order) %>
</div>

<dl>
  <div>
    <dt><%= Order.human_attribute_name(:warehouse) %>:</dt>
    <dd><%= @order.warehouse.full_description %></dd>
  </div>

  <div>
    <dt><%= Order.human_attribute_name(:supplier) %>:</dt>
    <dd><%= @order.supplier.corporate_name %></dd>
  </div>

  <div>
    <dt><%= Order.human_attribute_name(:user) %>:</dt>
    <dd><%= @order.user.description %></dd>
  </div>

  <div>
    <dt><%= Order.human_attribute_name(:estimated_delivery_date) %>:</dt>
    <dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>
  </div>
</dl>
