<h2>Pedido</h2>
<dl>
  <div>
    <dt>Galpão Destino:</dt>
    <dd><%= @order.warehouse.full_description %></dd>
  </div>

  <div>
    <dt>Fornecedor:</dt>
    <dd><%= @order.supplier.corporate_name %></dd>
  </div>

  <div>
    <dt>Usuário Responsável:</dt>
    <dd><%= @order.user.name %> | <%= @order.user.email %></dd>
  </div>

  <div>
    <dt>Data Prevista de Entrega:</dt>
    <dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>
  </div>
</dl>
