<h1>Galpão <%= @warehouse.code %></h1>
<h2><%= @warehouse.description %></h2>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
  <%= button_to 'Deletar', warehouse_path(@warehouse), method: :delete %>
</div>

<div>
    <strong>Nome:</strong> <%= @warehouse.name %>
    <strong>Cidade:</strong> <%= @warehouse.city %>
    <strong>Área:</strong> <%= @warehouse.area %> m2
    <strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.cep %>
</div>

<div>
  <%= link_to 'Menu', root_path %>
</div>
